{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/box.css' %}">
    <title>Adam GPT</title>
</head>
<body>
    
    <div class = "top-box">
        <div class="msg-box">
            {% for user, bot in conversation%}
            <div class = "user-box">   
                {{user}}
            </div>

            <div>
                {{ bot |safe}}
            </div>
            {% endfor %}
        </div>
        
    </div>

    <div class="bottom-box">
        <div class = "ask-box">
            <form class = "message-form" method="POST" action="{% url 'get_answer' %}">
                {% csrf_token %}
                <input type = "chat-input" placeholder="Message Adam" aria-label="Question input" name="text">
                <button class = "send-btn" type="submit" name="button">Send</button>
            </form>
            
            <form method="POST" action="{% url 'clear' %}">
                {% csrf_token %}
                <button class="clear-btn" type="submit" name="clear" style="margin-top: 10px;">
                Clear
                </button>
            </form>
        </div>
    </div>
    
    
</body>
</html>